body {
  margin: 0;
  padding: 0;
  border: 0;
}

.app {
  width: 100%;
  height: 100%;
}
.simuladorPanel {
  width: 100%;
  height: 100%;
}
canvas {
  widows: 100%;
  height: 500px;
}
.btn-play-render {
  padding: 10px 20px;
  color: #ffffff;
  background: rgb(20, 138, 20);
  border: none;
  font-size: 24px;
  border-radius: 12px;
}
